.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  float: flex;
  height: 100%;
}
.main .submenu {
  background: #2C2C2C;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.main .submenu .items {
  margin-top: 120px;
  height: 100%;
}
.main .submenu .items .item {
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main .submenu .items .item .descp {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  font-family: "Itim", cursive;
}
.main .submenu .items .item .icono_sbmenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.main .submenu .items .item .icono_sbmenu i {
  color: white;
  font-size: 18px;
}
.main .submenu .items .item:hover {
  background: rgba(0, 0, 0, 0.12);
}
.main .submenu .items .item .subitems_menu {
  margin-top: 10px;
}
.main .submenu .items .item .subitems_menu .sbitem_menu {
  font-family: "Itim", cursive;
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 8px;
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
}
.main .submenu .items .item .subitems_menu .sbitem_menu:hover {
  text-decoration: underline;
}
.main .submenu .items .item .subitems_menu .sbitem_menu i {
  color: white;
  font-size: 12px;
}
.main .submenu_small .items .item .descp {
  display: none;
}
.main .bodycontent {
  height: 100%;
}
.main .bodycontent .container {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .main .submenu .items .item .descp {
    font-size: 16px;
  }
  .main .submenu .items .item .icono_sbmenu i {
    font-size: 16px;
  }
  .main .submenu .items .item .subitems_menu .sbitem_menu {
    font-size: 13px;
  }
  .main .submenu .items .item .subitems_menu .sbitem_menu i {
    font-size: 12px;
  }
}
@media only screen and (max-width: 568px) {
  .main .submenu {
    position: fixed;
  }
  .main .submenu .items .item .descp {
    font-size: 14px;
  }
  .main .submenu .items .item .icono_sbmenu i {
    font-size: 14px;
  }
  .main .submenu .items .item .subitems_menu .sbitem_menu {
    font-size: 12px;
  }
  .main .submenu .items .item .subitems_menu .sbitem_menu i {
    font-size: 11px;
  }
}
.contenedor {
  align-content: flex-start;
}
.contenedor .nav {
  padding: 5px;
  height: 40px;
  background: #00B8FF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.contenedor .nav .submenu, .contenedor .nav .user_options {
  display: flex;
  align-items: center;
}
.contenedor .nav .submenu i, .contenedor .nav .user_options i {
  color: white;
  cursor: pointer;
  padding: 2px;
}
.contenedor .nav .submenu {
  justify-content: center;
}
.contenedor .nav .submenu i {
  margin-right: 10px;
}
.contenedor .nav .user_options {
  justify-content: space-around;
}
.contenedor .nav .user_options span {
  font-family: "Itim", cursive;
  color: white;
  font-weight: 400;
}

/*# sourceMappingURL=layout.css.map */
